<include file="/public/header"/>
<!-- // 重定位style -->
<!--Developer-->
<div class="layui-fluid ">

    <div class="layui-card">
        <div class="layui-card-header"> Tinymce 富文本编辑器</div>
        <div class="layui-card-body">
            <textarea name="" id="" lay-editor cols="30" rows="10"></textarea>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header"> Cherry Markdown编辑器 腾讯出品</div>
        <div class="layui-card-body">
            <textarea name="" id="" lay-markdown  cols="30" rows="10"></textarea>
        </div>
    </div>

</div>
<include file="/public/static"/>
<include file="/public/footer"/>

